certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
Click==7.0
crypto==1.4.1
cryptography==2.8
Flask==1.1.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Naked==0.1.31
pycparser==2.19
pycryptodomex==3.9.4
PyYAML==5.1.2
requests==2.22.0
shellescape==3.4.1
simplejson==3.17.0
six==1.13.0
tinyec==0.3.1
urllib3==1.25.7
WTForms==2.2.1
Werkzeug==0.16.0