[Unit]
Description=Central Server SSL and FLASK
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple

Environment=SSL_HOST='192.168.30.2'
Environment=SSL_PORT=8082
Environment=SSL_CERT='/vagrant/ssl/central.crt'
Environment=SSL_KEY='/vagrant/ssl/central.key'
Environment=SSL_CA_CERT='/vagrant/ssl/root_ca.crt'
Environment=PYTHONPATH="$PYTHONPATH:/vagrant"

ExecStart=/usr/bin/python3 /vagrant/central/server.py
PrivateTmp=true
LimitNOFILE=infinity
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
